*{
    padding: 0px;
    @font-face {
        font-family: Helvetica;
        src: url(C:\Users\user\Desktop\lomba_clone_web\fonts\sf-pro-display.zip);
    }
}
body {
    width: auto;
    height: 200vh;
    background-color: #C1B175;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
nav {
    width: 99%;
    height: 10vh;
    display: flex;
    margin: 10px;
    margin-top: -100px;
}
.nav-main {
    width: 100%;
    height: 10vh;
    background-color: #C95C48;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    align-items: center;
    color: black;
    font-size: 20px;
}
.nav-main img {
    width: 70px;
    height: 70px;
    padding-left: 20px;
}
.menu {
    width: 25%;
    height: 5.5vh;
    background-color:#E9B1A6 ;
    border-radius: 50px;
    border: 1px solid white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.menu a {
    text-decoration: none;
    color: black;
}
.regis {
    width: 12%;
    height: 5.5vh;
    border: 1px solid white;
    display: flex;
    border-radius: 50px;
    background-color:#E9B1A6 ;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.regis:hover {
    background-color: #bf604d ;
    transition: .3s ease;
}
.regis-kanan {
    width: 40px;
    height: 40px;
    background-color: #DBA196;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.body {
    width: 97%;
    margin-top: 70px;
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
}
.body-kiri {
    width: 50%;
}
.body-kiri img {
    width: 27vw;
    height: 37vw;
    border-radius: 5px;
}
.body-kanan {
    width: 50%;
    margin-right: 650px;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
}
.body-kanan h1 {
    font-size: 55px;
}
.body-kanan p {
    font-size: 20px;
    text-align: left;
}
button {
    width: 15rem;
    height: 3rem;
    border: none;
    background-color: #0088FF;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    margin-top: 50px;
    font-weight: bold;
}
.gambar img {
    width: 27vw;
    height: 37vw;
    border-radius: 10px;
}